.venv_ergapi
__pycache__/*
*.pyc 
ergImages
ergImagesGoogleDrive.zip
ergImagesGooglePhotos.zip
learn-auth-0423-firebase-adminsdk-key.json
ergtracker-firebase-adminsdk.json
config/*
key_generator.py
cloud-sql-proxy 
key-ergtracker23apisa1-13b7427183ec.json
kaja*
.vscode/*
.DS_Store